Table 4.4.1: Ethnicity of all clients in treatment

In [1]:
from gssutils import *

if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    inputFile = sourceFolder / 'AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)

In [2]:
tab = loadxlstabs(inputFile, sheetids='Table 4.4.1')[0]

Loading in\AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx which has size 272149 bytes
Table names: ['Table 4.4.1']

https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx

In [3]:
observations = tab.excel_ref('B5').expand(DOWN).expand(RIGHT).is_not_blank()
observations

{<D19 90.0>, <B6 5579.0>, <J9 3324.0>, <I9 0.0167791937996884>, <E6 0.0360532113201152>, <B18 928.0>, <J25 268390.0>, <J7 4692.0>, <B23 137722.0>, <J5 222775.0>, <H6 3057.0>, <C7 0.0129391092200229>, <H18 105.0>, <D25 23730.0>, <F23 27360.0>, <K21 0.000326030502807274>, <E19 0.0038129130655821>, <F25 27684.0>, <E16 0.0124978817149636>, <H10 492.0>, <J14 2028.0>, <G10 0.0179093567251462>, <H23 75093.0>, <F15 293.0>, <K12 0.00874595779042304>, <J10 2738.0>, <G8 0.0129751461988304>, <D12 347.0>, <I8 0.0156339472387573>, <C18 0.00673821175992216>, <F21 8.0>, <C20 0.00201129812230435>, <D14 215.0>, <I17 0.00422143209087398>, <I16 0.00850944828412768>, <J23 263779.0>, <D5 18762.0>, <H24 694.0>, <D11 393.0>, <C8 0.0103106257533292>, <E23 1.0>, <E7 0.0273258769700051>, <I10 0.00655187567416404>, <D20 102.0>, <H25 75787.0>, <F22 0.0>, <D23 23604.0>, <K8 0.011858411776525>, <H13 549.0>, <G20 0.00292397660818713>, <H7 1716.0>, <E12 0.0147008981528554>, <C11 0.0089455569916208>, <D13 219.0>, <E17 0.0110574478901881>, <K10 0.0103799013568176>, <J19 767.0>, <D15 332.0>, <G6 0.0314327485380117>, <G12 0.00617690058479532>, <E8 0.00758346043043552>, <K22 0.0>, <F12 169.0>, <F8 355.0>, <G9 0.010233918128655>, <F7 549.0>, <K20 0.0022480940484269>, <E18 0.00580410099983054>, <G11 0.0152046783625731>, <C17 0.00538766500631707>, <I5 0.851623986257041>, <D6 851.0>, <G5 0.832675438596491>, <F9 280.0>, <C19 0.00301331668143071>, <E13 0.00927808845958312>, <B21 38.0>, <B16 401.0>, <J8 3128.0>, <E14 0.00910862565666836>, <J13 2270.0>, <K13 0.00860568885316875>, <I20 0.00178445394377638>, <K23 1.0>, <J12 2307.0>, <G19 0.00365497076023392>, <B8 1420.0>, <B22 0.0>, <F18 82.0>, <B10 1185.0>, <I19 0.00215732491710279>, <G21 0.000292397660818713>, <I12 0.00368875927183626>, <D7 645.0>, <B24 3467.0>, <C21 0.00027591815396233>, <B20 277.0>, <H20 134.0>, <F20 80.0>, <J11 2443.0>, <E10 0.024190815116082>, <B17 742.0>, <G22 0.0>, <C13 0.00979509446566271>, <J17 1557.0>, <F16 343.0>, <C10 0.00860428980119371>, <F24 324.0>, <K17 0.00590266852175495>, <F6 860.0>, <J24 4611.0>, <G18 0.00299707602339181>, <J6 10347.0>, <H17 317.0>, <C16 0.00291166262470774>, <K7 0.0177876176647876>, <B13 1349.0>, <K15 0.00680114793065407>, <B15 779.0>, <I14 0.00588603465036688>, <K19 0.0029077371587579>, <G23 1.0>, <B5 117280.0>, <D10 571.0>, <C14 0.00877129289438144>, <J22 0.0>, <C12 0.0109931601341834>, <E21 0.000593119810201661>, <F13 153.0>, <F19 100.0>, <G16 0.0125365497076023>, <B25 141189.0>, <D16 295.0>, <E9 0.0080918488391798>, <G7 0.0200657894736842>, <B12 1514.0>, <C6 0.040509141604101>, <B9 1593.0>, <H5 63951.0>, <J15 1794.0>, <H14 442.0>, <D24 126.0>, <I7 0.0228516639367185>, <J21 86.0>, <E15 0.0140654126419251>, <F10 490.0>, <H11 402.0>, <G13 0.00559210526315789>, <H19 162.0>, <D9 191.0>, <K9 0.012601458038737>, <I15 0.00519355998561783>, <D18 137.0>, <I13 0.0073109344412928>, <H8 1174.0>, <G17 0.00866228070175439>, <I22 0.0>, <H12 277.0>, <C5 0.85157055517637>, <K16 0.00636138585710007>, <F5 22782.0>, <E5 0.794865277071683>, <I18 0.00139826614997403>, <J16 1678.0>, <C9 0.0115667794542629>, <B19 415.0>, <I23 1.0>, <D21 14.0>, <H22 0.0>, <H15 390.0>, <H9 1260.0>, <F14 163.0>, <B11 1232.0>, <D8 179.0>, <G14 0.00595760233918129>, <F17 237.0>, <K14 0.00768825418247851>, <E20 0.00432130147432639>, <C15 0.00565632215622776>, <H16 639.0>, <E22 0.0>, <C22 0.0>, <G15 0.0107090643274854>, <J20 593.0>, <F11 416.0>, <K5 0.844551689103378>, <J18 1252.0>, <K11 0.00926154091114152>, <B14 1208.0>, <H21 26.0>, <I11 0.00535336183132915>, <C23 1.0>, <I6 0.0407095201949583>, <K18 0.0047463975524966>, <D22 0.0>, <D17 261.0>, <K6 0.039226018750545>, <B7 1782.0>, <I21 0.000346237332374522>, <E11 0.0166497203863752>}

In [4]:
Ethnicity = tab.excel_ref('A5').expand(DOWN).is_not_blank()
Ethnicity

{<A12 'Pakistani'>, <A19 'White and Asian'>, <A23 'Total'>, <A6 'Other white'>, <A21 'Chinese'>, <A25 'Total'>, <A5 'White British'>, <A7 'Not stated'>, <A14 'Other'>, <A8 'White Irish'>, <A9 'Indian'>, <A16 'African'>, <A15 'Other black'>, <A18 'Bangladeshi'>, <A11 'White and black Caribbean'>, <A13 'Other Asian'>, <A17 'Other mixed'>, <A22 'Unknown'>, <A28 '*Percentages may equal 0% or not sum to 100% due to rounding'>, <A24 'Inconsistent/missing'>, <A10 'Caribbean'>, <A20 'White and black African'>}

In [5]:
Clients = tab.excel_ref('B3').expand(RIGHT).is_not_blank()
Clients

{<D3 'Non-opiate only'>, <J3 'Total'>, <H3 'Alcohol only'>, <B3 'Opiate'>, <F3 'Non-opiate and Alcohol'>}

In [6]:
MeasureType = tab.excel_ref('B4').expand(RIGHT).is_not_blank()
MeasureType

{<D4 'n'>, <B4 'n'>, <K4 '%'>, <H4 'n'>, <J4 'n'>, <G4 '%'>, <I4 '%'>, <F4 'n'>, <C4 '%'>, <E4 '%'>}

In [7]:
Dimensions = [
            HDim(Ethnicity,'Ethnicity',DIRECTLY,LEFT),
            HDim(Clients,'Clients',CLOSEST,LEFT),
            HDim(MeasureType,'Measure Type',DIRECTLY,ABOVE),
            HDimConst('Unit','People')            
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# if is_interactive():
#     savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table

,OBS,Ethnicity,Clients,Measure Type,Unit
0,117280.000000,White British,Opiate,n,People
1,0.851571,White British,Opiate,%,People
2,18762.000000,White British,Non-opiate only,n,People
3,0.794865,White British,Non-opiate only,%,People
4,22782.000000,White British,Non-opiate and Alcohol,n,People
5,0.832675,White British,Non-opiate and Alcohol,%,People
6,63951.000000,White British,Alcohol only,n,People
7,0.851624,White British,Alcohol only,%,People
8,222775.000000,White British,Total,n,People
9,0.844552,White British,Total,%,People
10,5579.000000,Other white,Opiate,n,People
11,0.040509,Other white,Opiate,%,People
12,851.000000,Other white,Non-opiate only,n,People
13,0.036053,Other white,Non-opiate only,%,People
14,860.000000,Other white,Non-opiate and Alcohol,n,People
15,0.031433,Other white,Non-opiate and Alcohol,%,People
16,3057.000000,Other white,Alcohol only,n,People
17,0.040710,Other white,Alcohol only,%,People
18,10347.000000,Other white,Total,n,People
19,0.039226,Other white,Total,%,People
20,1782.000000,Not stated,Opiate,n,People
21,0.012939,Not stated,Opiate,%,People
22,645.000000,Not stated,Non-opiate only,n,People
23,0.027326,Not stated,Non-opiate only,%,People
24,549.000000,Not stated,Non-opiate and Alcohol,n,People
25,0.020066,Not stated,Non-opiate and Alcohol,%,People
26,1716.000000,Not stated,Alcohol only,n,People
27,0.022852,Not stated,Alcohol only,%,People
28,4692.000000,Not stated,Total,n,People
29,0.017788,Not stated,Total,%,People
...,...,...,...,...,...
170,0.000000,Unknown,Opiate,n,People
171,0.000000,Unknown,Opiate,%,People
172,0.000000,Unknown,Non-opiate only,n,People
173,0.000000,Unknown,Non-opiate only,%,People
174,0.000000,Unknown,Non-opiate and Alcohol,n,People
175,0.000000,Unknown,Non-opiate and Alcohol,%,People
176,0.000000,Unknown,Alcohol only,n,People
177,0.000000,Unknown,Alcohol only,%,People
178,0.000000,Unknown,Total,n,People
179,0.000000,Unknown,Total,%,People
180,137722.000000,Total,Opiate,n,People
181,1.000000,Total,Opiate,%,People
182,23604.000000,Total,Non-opiate only,n,People
183,1.000000,Total,Non-opiate only,%,People
184,27360.000000,Total,Non-opiate and Alcohol,n,People
185,1.000000,Total,Non-opiate and Alcohol,%,People
186,75093.000000,Total,Alcohol only,n,People
187,1.000000,Total,Alcohol only,%,People
188,263779.000000,Total,Total,n,People
189,1.000000,Total,Total,%,People
190,3467.000000,Inconsistent/missing,Opiate,n,People
191,126.000000,Inconsistent/missing,Non-opiate only,n,People
192,324.000000,Inconsistent/missing,Non-opiate and Alcohol,n,People
193,694.000000,Inconsistent/missing,Alcohol only,n,People
194,4611.000000,Inconsistent/missing,Total,n,People
195,141189.000000,Total,Opiate,n,People
196,23730.000000,Total,Non-opiate only,n,People
197,27684.000000,Total,Non-opiate and Alcohol,n,People
198,75787.000000,Total,Alcohol only,n,People
199,268390.000000,Total,Total,n,People

In [10]:
new_table = new_table[new_table['OBS'] != 0 ]

In [11]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [12]:
new_table['Measure Type'] = new_table['Measure Type'].map(
    lambda x: {
        'n' : 'Count', 
        '%' : 'Percentage',
        }.get(x, x))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
new_table.head()

           Value      Ethnicity                 Clients Measure Type    Unit
0  117280.000000  White British                  Opiate        Count  People
1       0.851571  White British                  Opiate   Percentage  People
2   18762.000000  White British         Non-opiate only        Count  People
3       0.794865  White British         Non-opiate only   Percentage  People
4   22782.000000  White British  Non-opiate and Alcohol        Count  People

In [14]:
new_table.dtypes

Value           float64
Ethnicity        object
Clients          object
Measure Type     object
Unit             object
dtype: object

In [15]:
new_table['Value'] = new_table['Value'].astype(str)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
new_table.head(3)

            Value      Ethnicity          Clients Measure Type    Unit
0        117280.0  White British           Opiate        Count  People
1  0.851570555176  White British           Opiate   Percentage  People
2         18762.0  White British  Non-opiate only        Count  People

In [17]:
new_table['Ethnicity'] = new_table['Ethnicity'].map(
    lambda x: {
        'Total' : 'All' 
        }.get(x, x))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
new_table['Clients'] = new_table['Clients'].map(
    lambda x: {
        'Total' : 'All Clients',
        }.get(x, x))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
new_table.head(3)

            Value      Ethnicity          Clients Measure Type    Unit
0        117280.0  White British           Opiate        Count  People
1  0.851570555176  White British           Opiate   Percentage  People
2         18762.0  White British  Non-opiate only        Count  People

In [21]:
new_table = new_table[['Ethnicity','Clients','Measure Type','Value','Unit']]

In [22]:
if is_interactive():
    SubstancetinationFolder = Path('out')
    SubstancetinationFolder.mkdir(exist_ok=True, parents=True)
    new_table.to_csv(SubstancetinationFolder / ('table4.4.1.csv'), index = False)