Table 6.2.3: Change in employment, education and housing status between the start of treatment and six month review

In [1]:
from gssutils import *

if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    inputFile = sourceFolder / 'AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)

In [2]:
tab = loadxlstabs(inputFile, sheetids='Table 6.2.3')[0]

Loading in\AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx which has size 272149 bytes
Table names: ['Table 6.2.3']

https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx

In [3]:
observations = tab.excel_ref('C4').expand(DOWN).expand(RIGHT).is_not_blank()
observations

{<G10 0.0129018255480262>, <G18 0.0573154167070923>, <G4 83422.0>, <D12 0.0326143586537459>, <C16 0.147005444646098>, <F12 0.0163780452010566>, <E4 11319.0>, <G6 17.6513314924884>, <F7 0.299653596483569>, <C14 28101.0>, <C5 0.154380094685507>, <C13 9.66101694915255>, <F21 0.0678302026327466>, <F10 0.0112415614910478>, <F11 10.7754569190601>, <F6 17.5204678362572>, <C11 10.5066666666667>, <C19 0.0698317005777443>, <E11 11.419512195122>, <E17 11170.0>, <F4 34353.0>, <C22 0.157987421383648>, <E5 0.322908384132874>, <D6 17.8609951845907>, <C20 27825.0>, <G14 82894.0>, <C7 0.183177303954723>, <E21 0.122478256971219>, <G15 0.117861365116896>, <F14 33984.0>, <C6 17.8037814157252>, <F20 33805.0>, <F16 0.0367231638418079>, <G12 0.0182313646996407>, <C4 28093.0>, <G19 0.0414645386630445>, <D9 9597.0>, <E7 0.32626557116353>, <F18 0.0329917003869215>, <D20 9549.0>, <D8 18.08959711365>, <E9 11267.0>, <G11 10.9056074766355>, <E8 18.3243975088004>, <D21 0.104408838621845>, <E13 9.89547038327526>, <D10 0.0267792018339065>, <G17 82456.0>, <G8 18.0104189857073>, <C9 28000.0>, <G7 0.269221548272639>, <C17 27867.0>, <C21 0.215238095238095>, <F17 33857.0>, <G9 82934.0>, <F19 0.0220929202232921>, <F9 34070.0>, <E14 11221.0>, <E22 0.0755850443826773>, <G13 9.73346560846561>, <G22 0.0889447602390322>, <C12 0.0126428571428572>, <D5 0.322563943253599>, <E19 0.0364368845120859>, <F13 9.25627240143369>, <C15 0.202128038148109>, <D14 9588.0>, <D7 0.344413378896137>, <E18 0.0588182632050134>, <F15 0.0584981167608286>, <E20 11153.0>, <D17 9562.0>, <G20 82332.0>, <D13 10.517571884984>, <E15 0.108992068443098>, <C18 0.0889582660494492>, <D22 0.0650329877474081>, <G16 0.0803797621058219>, <G5 0.256131476109421>, <D4 9657.0>, <D19 0.0332566408701109>, <D15 0.0916770963704631>, <D18 0.0494666387784982>, <E16 0.0658586578736298>, <F8 17.9187876432873>, <F22 0.0432776216536015>, <D16 0.0568418856904464>, <D11 11.0389105058366>, <E12 0.0254726191532795>, <E6 17.6590971272229>, <E10 0.0181947279666283>, <F5 0.298663872150907>, <G21 0.129293591799057>, <C10 0.0080357142857143>, <C8 17.9172172561212>}

In [4]:
category = tab.excel_ref('A').expand(DOWN).by_index([4,9,14,17,20])
category

{<A20 'Housing problems – any'>, <A17 'Housing problems – risk'>, <A9 'Education'>, <A14 'Housing problems – acute'>, <A4 'Employment'>}

In [5]:
status = tab.excel_ref('A4').expand(DOWN).is_not_blank() 
status

{<A20 'Housing problems – any'>, <A12 '    Review'>, <A22 '    Review'>, <A17 'Housing problems – risk'>, <A19 '    Review'>, <A21 '    Baseline'>, <A18 '    Baseline'>, <A15 '    Baseline'>, <A9 'Education'>, <A10 '    Baseline'>, <A14 'Housing problems – acute'>, <A4 'Employment'>, <A16 '    Review'>, <A5 '    Baseline'>, <A7 '    Review'>}

In [6]:
measuretypes = tab.excel_ref('B4').expand(DOWN).is_not_blank() 
measuretypes

{<B6 'Mean days'>, <B19 '%'>, <B20 'n'>, <B21 '%'>, <B18 '%'>, <B16 '%'>, <B9 'n'>, <B14 'n'>, <B7 '%'>, <B13 'Mean days'>, <B4 'n'>, <B5 '%'>, <B17 'n'>, <B15 '%'>, <B12 '%'>, <B22 '%'>, <B8 'Mean days'>, <B11 'Mean days'>, <B10 '%'>}

In [7]:
clients = tab.excel_ref('B3').expand(RIGHT).is_not_blank()
clients

{<F3 'Alcohol only'>, <G3 'Total'>, <E3 'Non-opiate and Alcohol'>, <C3 'Opiate'>, <D3 'Non-opiate only'>}

In [8]:
Dimensions = [
            HDim(clients,'Clients in treatment',CLOSEST,LEFT),
            HDim(status,'Change in Status',CLOSEST,ABOVE),
            HDim(category,'Category',CLOSEST,ABOVE),
            HDim(measuretypes,'Measure Type',DIRECTLY,LEFT),
            HDimConst('Unit','People')            
            ]

In [9]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# if is_interactive():
#     savepreviewhtml(c1)

In [10]:
new_table = c1.topandas()
new_table

,OBS,Clients in treatment,Change in Status,Category,Measure Type,Unit
0,28093.000000,Opiate,Employment,Employment,n,People
1,9657.000000,Non-opiate only,Employment,Employment,n,People
2,11319.000000,Non-opiate and Alcohol,Employment,Employment,n,People
3,34353.000000,Alcohol only,Employment,Employment,n,People
4,83422.000000,Total,Employment,Employment,n,People
5,0.154380,Opiate,Baseline,Employment,%,People
6,0.322564,Non-opiate only,Baseline,Employment,%,People
7,0.322908,Non-opiate and Alcohol,Baseline,Employment,%,People
8,0.298664,Alcohol only,Baseline,Employment,%,People
9,0.256131,Total,Baseline,Employment,%,People
10,17.803781,Opiate,Baseline,Employment,Mean days,People
11,17.860995,Non-opiate only,Baseline,Employment,Mean days,People
12,17.659097,Non-opiate and Alcohol,Baseline,Employment,Mean days,People
13,17.520468,Alcohol only,Baseline,Employment,Mean days,People
14,17.651331,Total,Baseline,Employment,Mean days,People
15,0.183177,Opiate,Review,Employment,%,People
16,0.344413,Non-opiate only,Review,Employment,%,People
17,0.326266,Non-opiate and Alcohol,Review,Employment,%,People
18,0.299654,Alcohol only,Review,Employment,%,People
19,0.269222,Total,Review,Employment,%,People
20,17.917217,Opiate,Review,Employment,Mean days,People
21,18.089597,Non-opiate only,Review,Employment,Mean days,People
22,18.324398,Non-opiate and Alcohol,Review,Employment,Mean days,People
23,17.918788,Alcohol only,Review,Employment,Mean days,People
24,18.010419,Total,Review,Employment,Mean days,People
25,28000.000000,Opiate,Education,Education,n,People
26,9597.000000,Non-opiate only,Education,Education,n,People
27,11267.000000,Non-opiate and Alcohol,Education,Education,n,People
28,34070.000000,Alcohol only,Education,Education,n,People
29,82934.000000,Total,Education,Education,n,People
...,...,...,...,...,...,...
65,27867.000000,Opiate,Housing problems – risk,Housing problems – risk,n,People
66,9562.000000,Non-opiate only,Housing problems – risk,Housing problems – risk,n,People
67,11170.000000,Non-opiate and Alcohol,Housing problems – risk,Housing problems – risk,n,People
68,33857.000000,Alcohol only,Housing problems – risk,Housing problems – risk,n,People
69,82456.000000,Total,Housing problems – risk,Housing problems – risk,n,People
70,0.088958,Opiate,Baseline,Housing problems – risk,%,People
71,0.049467,Non-opiate only,Baseline,Housing problems – risk,%,People
72,0.058818,Non-opiate and Alcohol,Baseline,Housing problems – risk,%,People
73,0.032992,Alcohol only,Baseline,Housing problems – risk,%,People
74,0.057315,Total,Baseline,Housing problems – risk,%,People
75,0.069832,Opiate,Review,Housing problems – risk,%,People
76,0.033257,Non-opiate only,Review,Housing problems – risk,%,People
77,0.036437,Non-opiate and Alcohol,Review,Housing problems – risk,%,People
78,0.022093,Alcohol only,Review,Housing problems – risk,%,People
79,0.041465,Total,Review,Housing problems – risk,%,People
80,27825.000000,Opiate,Housing problems – any,Housing problems – any,n,People
81,9549.000000,Non-opiate only,Housing problems – any,Housing problems – any,n,People
82,11153.000000,Non-opiate and Alcohol,Housing problems – any,Housing problems – any,n,People
83,33805.000000,Alcohol only,Housing problems – any,Housing problems – any,n,People
84,82332.000000,Total,Housing problems – any,Housing problems – any,n,People
85,0.215238,Opiate,Baseline,Housing problems – any,%,People
86,0.104409,Non-opiate only,Baseline,Housing problems – any,%,People
87,0.122478,Non-opiate and Alcohol,Baseline,Housing problems – any,%,People
88,0.067830,Alcohol only,Baseline,Housing problems – any,%,People
89,0.129294,Total,Baseline,Housing problems – any,%,People
90,0.157987,Opiate,Review,Housing problems – any,%,People
91,0.065033,Non-opiate only,Review,Housing problems – any,%,People
92,0.075585,Non-opiate and Alcohol,Review,Housing problems – any,%,People
93,0.043278,Alcohol only,Review,Housing problems – any,%,People
94,0.088945,Total,Review,Housing problems – any,%,People

In [11]:
new_table = new_table[new_table['OBS'] != 0 ]

In [12]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [13]:
new_table.head()

,Value,Clients in treatment,Change in Status,Category,Measure Type,Unit
0,28093.0,Opiate,Employment,Employment,n,People
1,9657.0,Non-opiate only,Employment,Employment,n,People
2,11319.0,Non-opiate and Alcohol,Employment,Employment,n,People
3,34353.0,Alcohol only,Employment,Employment,n,People
4,83422.0,Total,Employment,Employment,n,People

In [14]:
new_table['Measure Type'] = new_table['Measure Type'].map(
    lambda x: {
        '%' : 'Percentage',
        'n'  : 'Count'
        }.get(x, x))

In [15]:
new_table.tail()

,Value,Clients in treatment,Change in Status,Category,Measure Type,Unit
90,0.157987,Opiate,Review,Housing problems – any,Percentage,People
91,0.065033,Non-opiate only,Review,Housing problems – any,Percentage,People
92,0.075585,Non-opiate and Alcohol,Review,Housing problems – any,Percentage,People
93,0.043278,Alcohol only,Review,Housing problems – any,Percentage,People
94,0.088945,Total,Review,Housing problems – any,Percentage,People

In [16]:
new_table['Clients in treatment'] = new_table['Clients in treatment'].map(
    lambda x: {
        'Total' : 'All Clients'
        }.get(x, x))

In [17]:
new_table.dtypes

Value                   float64
Clients in treatment     object
Change in Status         object
Category                 object
Measure Type             object
Unit                     object
dtype: object

In [18]:
new_table['Value'] = new_table['Value'].astype(str)

In [19]:
new_table.head(3)

,Value,Clients in treatment,Change in Status,Category,Measure Type,Unit
0,28093.0,Opiate,Employment,Employment,Count,People
1,9657.0,Non-opiate only,Employment,Employment,Count,People
2,11319.0,Non-opiate and Alcohol,Employment,Employment,Count,People

In [20]:
new_table.tail()

,Value,Clients in treatment,Change in Status,Category,Measure Type,Unit
90,0.157987421383648,Opiate,Review,Housing problems – any,Percentage,People
91,0.0650329877474081,Non-opiate only,Review,Housing problems – any,Percentage,People
92,0.0755850443826773,Non-opiate and Alcohol,Review,Housing problems – any,Percentage,People
93,0.0432776216536015,Alcohol only,Review,Housing problems – any,Percentage,People
94,0.0889447602390322,All Clients,Review,Housing problems – any,Percentage,People

In [21]:
new_table = new_table[['Clients in treatment','Category','Change in Status','Measure Type','Value','Unit']]

In [22]:
if is_interactive():
    SubstancetinationFolder = Path('out')
    SubstancetinationFolder.mkdir(exist_ok=True, parents=True)
    new_table.to_csv(SubstancetinationFolder / ('table6.2.3.csv'), index = False)