Table 4.2.1: Age of all clients in treatment

In [1]:
from gssutils import *

if is_interactive():
    scraper = Scraper('https://www.gov.uk/government/collections/alcohol-and-drug-misuse-and-treatment-statistics')
    scraper.select_dataset(title=lambda x: x.startswith('Substance misuse treatment for adults'), latest=True)
    tabs = {tab.name: tab for tab in scraper.distribution(title=lambda x: x.startswith('Data tables')).as_databaker()}

In [2]:
tab = tabs['Table 4.2.1']

https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx

In [3]:
observations = tab.excel_ref('B5').expand(DOWN).expand(RIGHT).is_not_blank()

In [4]:
observations

{<H17 1605.0>, <B6 184.0>, <I11 0.143560241202317>, <J14 15524.0>, <B14 5784.0>, <I18 1.0>, <C5 0.000821593750221335>, <C14 0.0409663642351741>, <C17 0.00165027020518596>, <F9 5106.0>, <C15 0.0166443561467253>, <G13 0.0639358474208929>, <E16 0.00476190476190476>, <F8 4698.0>, <I14 0.111668228060221>, <F11 3288.0>, <K6 0.00622974030328999>, <B5 116.0>, <D10 3234.0>, <H15 4761.0>, <B7 2772.0>, <J15 7571.0>, <I5 0.00269175452254344>, <C18 1.0>, <K5 0.00741085733447595>, <J5 1989.0>, <E15 0.00695322376738306>, <J18 268390.0>, <K11 0.168124743842915>, <G10 0.160056350238405>, <J7 12079.0>, <H10 9369.0>, <K18 1.0>, <B18 141189.0>, <B15 2350.0>, <B9 21067.0>, <H13 11602.0>, <C16 0.00602029903179426>, <K7 0.0450054025857893>, <B8 10114.0>, <E9 0.182764433206911>, <F6 483.0>, <H8 4516.0>, <H9 7184.0>, <J8 24329.0>, <K15 0.0282089496628041>, <G18 1.0>, <C9 0.149211340826835>, <G6 0.0174469007368877>, <D14 408.0>, <H12 12624.0>, <D15 165.0>, <C11 0.205171791003548>, <K9 0.140444874995343>, <I16 0.0340295829099978>, <B10 32263.0>, <K13 0.103621595439472>, <E12 0.0584913611462284>, <F15 295.0>, <I6 0.00232229801944925>, <B17 233.0>, <E14 0.0171934260429836>, <I17 0.0211777745523639>, <J17 1990.0>, <G16 0.00245629244328854>, <H16 2579.0>, <H18 75787.0>, <D11 1987.0>, <J6 1672.0>, <F14 869.0>, <F12 2813.0>, <D17 132.0>, <E7 0.18377581120944>, <C13 0.0964097769656276>, <E11 0.0837336704593342>, <G17 0.000722438953908395>, <D8 5001.0>, <F5 721.0>, <K8 0.090647937702597>, <D5 948.0>, <G14 0.0313899725473198>, <J11 45123.0>, <I12 0.166572103395041>, <K10 0.183676739073736>, <C7 0.0196332575483926>, <J13 27811.0>, <F13 1770.0>, <E10 0.136283185840708>, <E5 0.0399494310998736>, <E18 1.0>, <G11 0.11876896402254>, <B12 22876.0>, <G8 0.169700910273082>, <H7 1824.0>, <F10 4431.0>, <I15 0.0628208004011242>, <I8 0.05958805599905>, <D16 113.0>, <J9 37694.0>, <G7 0.1127727207051>, <B11 28968.0>, <G15 0.0106559745701488>, <B16 850.0>, <G9 0.184438664932813>, <I10 0.123622784910341>, <E8 0.210745891276865>, <D12 1388.0>, <G5 0.0260439242883976>, <E13 0.034850400337126>, <F16 68.0>, <C10 0.22850930313268>, <D13 827.0>, <K16 0.0134505756548307>, <B13 13612.0>, <D7 4361.0>, <E6 0.0349346818373367>, <J12 39701.0>, <H11 10880.0>, <D6 829.0>, <I13 0.153086941032103>, <K14 0.0578412012370058>, <E17 0.00556257901390645>, <F17 20.0>, <K17 0.00741458325570997>, <F7 3122.0>, <F18 27684.0>, <I7 0.0240674522015649>, <J10 49297.0>, <K12 0.147922798912031>, <H14 8463.0>, <C6 0.00130321767276488>, <H6 176.0>, <J16 3610.0>, <H5 204.0>, <G12 0.101611038867216>, <I9 0.0947919827938829>, <C12 0.162023953707442>, <C8 0.0716344757736084>, <D9 4337.0>, <D18 23730.0>}

In [5]:
Age = tab.excel_ref('A5').expand(DOWN).is_not_blank()
Age

{<A11 '40-44'>, <A15 '60-64'>, <A9 '30-34'>, <A14 '55-59'>, <A16 '65-69'>, <A5 '18'>, <A7 '20-24'>, <A10 '35-39'>, <A6 '19'>, <A8 '25-29'>, <A13 '50-54'>, <A21 '*Percentages may equal 0% or not sum to 100% due to rounding'>, <A17 '70+'>, <A12 '45-49'>, <A18 'Total'>}

In [6]:
Clients = tab.excel_ref('B3').expand(RIGHT).is_not_blank()
Clients

{<F3 'Non-opiate and Alcohol'>, <H3 'Alcohol only'>, <B3 'Opiate'>, <D3 'Non-opiate only'>, <J3 'Total'>}

In [7]:
MeasureType = tab.excel_ref('B4').expand(RIGHT).is_not_blank()
MeasureType

{<H4 'n'>, <G4 '%'>, <K4 '%'>, <E4 '%'>, <B4 'n'>, <I4 '%'>, <C4 '%'>, <D4 'n'>, <J4 'n'>, <F4 'n'>}

In [8]:
Dimensions = [
            HDim(Age,'Age',DIRECTLY,LEFT),
            HDim(Clients,'Clients',CLOSEST,LEFT),
            HDim(MeasureType,'Measure Type',DIRECTLY,ABOVE),
            HDimConst('Unit','People')            
            ]

In [9]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# if is_interactive():
#     savepreviewhtml(c1)

In [10]:
new_table = c1.topandas()
new_table

               OBS    Age                 Clients Measure Type    Unit
0       116.000000     18                  Opiate            n  People
1         0.000822     18                  Opiate            %  People
2       948.000000     18         Non-opiate only            n  People
3         0.039949     18         Non-opiate only            %  People
4       721.000000     18  Non-opiate and Alcohol            n  People
5         0.026044     18  Non-opiate and Alcohol            %  People
6       204.000000     18            Alcohol only            n  People
7         0.002692     18            Alcohol only            %  People
8      1989.000000     18                   Total            n  People
9         0.007411     18                   Total            %  People
10      184.000000     19                  Opiate            n  People
11        0.001303     19                  Opiate            %  People
12      829.000000     19         Non-opiate only            n  People
13        0.034935     19         Non-opiate only            %  People
14      483.000000     19  Non-opiate and Alcohol            n  People
15        0.017447     19  Non-opiate and Alcohol            %  People
16      176.000000     19            Alcohol only            n  People
17        0.002322     19            Alcohol only            %  People
18     1672.000000     19                   Total            n  People
19        0.006230     19                   Total            %  People
20     2772.000000  20-24                  Opiate            n  People
21        0.019633  20-24                  Opiate            %  People
22     4361.000000  20-24         Non-opiate only            n  People
23        0.183776  20-24         Non-opiate only            %  People
24     3122.000000  20-24  Non-opiate and Alcohol            n  People
25        0.112773  20-24  Non-opiate and Alcohol            %  People
26     1824.000000  20-24            Alcohol only            n  People
27        0.024067  20-24            Alcohol only            %  People
28    12079.000000  20-24                   Total            n  People
29        0.045005  20-24                   Total            %  People
..             ...    ...                     ...          ...     ...
110     850.000000  65-69                  Opiate            n  People
111       0.006020  65-69                  Opiate            %  People
112     113.000000  65-69         Non-opiate only            n  People
113       0.004762  65-69         Non-opiate only            %  People
114      68.000000  65-69  Non-opiate and Alcohol            n  People
115       0.002456  65-69  Non-opiate and Alcohol            %  People
116    2579.000000  65-69            Alcohol only            n  People
117       0.034030  65-69            Alcohol only            %  People
118    3610.000000  65-69                   Total            n  People
119       0.013451  65-69                   Total            %  People
120     233.000000    70+                  Opiate            n  People
121       0.001650    70+                  Opiate            %  People
122     132.000000    70+         Non-opiate only            n  People
123       0.005563    70+         Non-opiate only            %  People
124      20.000000    70+  Non-opiate and Alcohol            n  People
125       0.000722    70+  Non-opiate and Alcohol            %  People
126    1605.000000    70+            Alcohol only            n  People
127       0.021178    70+            Alcohol only            %  People
128    1990.000000    70+                   Total            n  People
129       0.007415    70+                   Total            %  People
130  141189.000000  Total                  Opiate            n  People
131       1.000000  Total                  Opiate            %  People
132   23730.000000  Total         Non-opiate only            n  People
133       1.000000  Total         Non-opiate only            %  People
134   27684.000000  Total  Non-opiate and Alcohol            n  People
135       1.000000  Total  Non-opiate and Alcohol            %  People
136   75787.000000  Total            Alcohol only            n  People
137       1.000000  Total            Alcohol only            %  People
138  268390.000000  Total                   Total            n  People
139       1.000000  Total                   Total            %  People

[140 rows x 5 columns]

In [11]:
new_table = new_table[new_table['OBS'] != 0 ]

In [12]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [13]:
new_table['Measure Type'] = new_table['Measure Type'].map(
    lambda x: {
        'n' : 'Count', 
        '%' : 'Percentage',
        }.get(x, x))

In [14]:
new_table.head()

        Value Age                 Clients Measure Type    Unit
0  116.000000  18                  Opiate        Count  People
1    0.000822  18                  Opiate   Percentage  People
2  948.000000  18         Non-opiate only        Count  People
3    0.039949  18         Non-opiate only   Percentage  People
4  721.000000  18  Non-opiate and Alcohol        Count  People

In [15]:
new_table.dtypes

Value           float64
Age              object
Clients          object
Measure Type     object
Unit             object
dtype: object

In [16]:
new_table['Value'] = new_table['Value'].astype(str)

In [17]:
new_table.head(3)

                  Value Age          Clients Measure Type    Unit
0                 116.0  18           Opiate        Count  People
1  0.000821593750221335  18           Opiate   Percentage  People
2                 948.0  18  Non-opiate only        Count  People

In [18]:
new_table['Age'] = 'Ag/' + new_table['Age']

In [19]:
new_table['Age'] = new_table['Age'].map(
    lambda x: {
        'Total' : 'Ag/All years' 
        }.get(x, x))

In [20]:
new_table['Clients'] = new_table['Clients'].map(
    lambda x: {
        'Total' : 'All Clients' 
        }.get(x, x))

In [21]:
new_table.columns = ['Clients in treatment' if x=='Clients' else x for x in new_table.columns]
new_table['Period'] = '2017-18'
new_table.columns = ['Basis of treatment' if x=='Age' else x for x in new_table.columns]
new_table['Substance'] = 'All'
new_table = new_table[['Period','Basis of treatment','Substance','Clients in treatment','Measure Type','Value','Unit']]