Table 4.6.1: Religion, new presentations to treatment

In [1]:
from gssutils import *

if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    inputFile = sourceFolder / 'AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)

In [2]:
tab = loadxlstabs(inputFile, sheetids='Table 4.6.1')[0]

Loading in\AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx which has size 272149 bytes
Table names: ['Table 4.6.1']

https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx

In [3]:
observations = tab.excel_ref('B5').expand(DOWN).expand(RIGHT).is_not_blank()
observations

{<D7 3126.0>, <B12 104.0>, <G12 0.00187404168323017>, <H8 329.0>, <K19 1.0>, <K18 0.0907406500481578>, <F11 377.0>, <I17 0.0471596563559924>, <K7 0.25751342703691>, <J14 9.0>, <F5 1.0>, <E7 0.202042399172699>, <F18 1420.0>, <E5 0.000129265770423992>, <G16 0.579135669260037>, <H14 1.0>, <F14 0.0>, <I7 0.303491276885269>, <E9 6.46328852119959e-05>, <F12 33.0>, <H10 45.0>, <H6 169.0>, <E13 0.00336091003102379>, <H17 2322.0>, <D17 669.0>, <I15 0.0288400999248533>, <F10 23.0>, <E8 0.00258531540847983>, <C9 0.000124390486615584>, <B18 3941.0>, <H20 1419.0>, <H16 24514.0>, <B6 243.0>, <G15 0.0308365040604236>, <G13 0.00459992049520132>, <I19 1.0>, <D20 1244.0>, <C19 1.0>, <H11 508.0>, <H7 14943.0>, <E10 0.00200361944157187>, <J7 31549.0>, <F13 81.0>, <J21 127307.0>, <J8 566.0>, <B13 341.0>, <C11 0.0322917703254055>, <G6 0.00442955306945312>, <F17 836.0>, <E15 0.0274689762150982>, <B21 41178.0>, <D16 9142.0>, <G18 0.0806405815208132>, <H19 49237.0>, <C16 0.537615683152552>, <G9 0.000113578283832131>, <I14 2.03099295245445e-05>, <E6 0.00323164426059979>, <K9 0.000114272654553765>, <H15 1420.0>, <C18 0.098044581550403>, <H5 5.0>, <K5 0.000130597319490017>, <J16 65464.0>, <J13 934.0>, <I12 0.00172634400958629>, <K15 0.0292374749008277>, <I8 0.00668196681357516>, <I5 0.000101549647622723>, <B11 1298.0>, <G8 0.00335055937304787>, <K10 0.00120802520528266>, <G19 1.0>, <K12 0.00210588177677653>, <H12 85.0>, <J10 148.0>, <E18 0.0857032057911065>, <B8 138.0>, <J15 3582.0>, <K16 0.534338932693406>, <J6 540.0>, <F21 18757.0>, <J17 5563.0>, <J9 14.0>, <F7 3958.0>, <D5 2.0>, <H21 50656.0>, <H18 4430.0>, <J11 2754.0>, <B10 49.0>, <J20 4793.0>, <I13 0.00934256758129049>, <F8 59.0>, <E19 1.0>, <G14 0.0>, <K17 0.0454070555201854>, <C6 0.00604537764951736>, <C14 0.000174146681261817>, <C7 0.236889242710717>, <C12 0.00258732212160414>, <K14 7.34609922131348e-05>, <D21 16716.0>, <C13 0.0084834311871828>, <B9 5.0>, <F19 17609.0>, <D12 36.0>, <J12 258.0>, <B16 21610.0>, <D13 52.0>, <D18 1326.0>, <E11 0.0369053774560496>, <C8 0.00343317743059011>, <G17 0.0474757226418309>, <D11 571.0>, <D10 31.0>, <K8 0.00461988017695937>, <D6 50.0>, <B20 982.0>, <D15 425.0>, <K11 0.0224790636172193>, <G5 5.67891419160657e-05>, <C10 0.00121902676883272>, <I10 0.000913946828604505>, <J5 16.0>, <C5 0.000199024778584934>, <D8 40.0>, <B19 40196.0>, <D9 1.0>, <B15 1194.0>, <E17 0.0432394002068252>, <D14 1.0>, <I18 0.0899729877937324>, <I6 0.00343237808964803>, <C17 0.0431883769529306>, <D19 15472.0>, <I16 0.497877612364685>, <K13 0.00762361852522977>, <B17 1736.0>, <F20 1148.0>, <K6 0.00440765953278809>, <B7 9522.0>, <J19 122514.0>, <F15 543.0>, <B14 7.0>, <C15 0.0297044482038014>, <F6 78.0>, <H9 6.0>, <G11 0.0214095065023567>, <F16 10198.0>, <E12 0.00232678386763185>, <E16 0.590873836608066>, <I11 0.0103174441984686>, <B5 8.0>, <G7 0.224771423703788>, <G10 0.00130615026406951>, <J18 11117.0>, <H13 460.0>, <F9 2.0>, <I9 0.000121859577147267>, <E14 6.46328852119959e-05>}

In [4]:
Religion = tab.excel_ref('A5').expand(DOWN).is_not_blank() - tab.excel_ref('A21')
Religion

{<A16 'None'>, <A12 'Pagan'>, <A8 'Hindu'>, <A7 'Christian'>, <A10 'Jewish'>, <A17 'Decline'>, <A9 'Jain'>, <A6 'Buddhist'>, <A5 "Baha'i">, <A19 'Total'>, <A18 'Unknown'>, <A13 'Sikh'>, <A20 'Inconsistent/missing'>, <A15 'Other'>, <A14 'Zoroastrian'>, <A11 'Muslim'>}

In [5]:
Clients = tab.excel_ref('B3').expand(RIGHT).is_not_blank()
Clients

{<D3 'Non-opiate only'>, <B3 'Opiate'>, <F3 'Non-opiate and Alcohol'>, <H3 'Alcohol only'>, <J3 'Total'>}

In [6]:
MeasureType = tab.excel_ref('B4').expand(RIGHT).is_not_blank()
MeasureType

{<F4 'n'>, <H4 'n'>, <I4 '%'>, <C4 '%'>, <E4 '%'>, <B4 'n'>, <K4 '%'>, <G4 '%'>, <J4 'n'>, <D4 'n'>}

In [7]:
Dimensions = [
            HDim(Religion,'Religion',DIRECTLY,LEFT),
            HDim(Clients,'Clients',CLOSEST,LEFT),
            HDim(MeasureType,'Measure Type',DIRECTLY,ABOVE),
            HDimConst('Unit','People')            
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# if is_interactive():
#     savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table

,OBS,Religion,Clients,Measure Type,Unit
0,8.000000,Baha'i,Opiate,n,People
1,0.000199,Baha'i,Opiate,%,People
2,2.000000,Baha'i,Non-opiate only,n,People
3,0.000129,Baha'i,Non-opiate only,%,People
4,1.000000,Baha'i,Non-opiate and Alcohol,n,People
5,0.000057,Baha'i,Non-opiate and Alcohol,%,People
6,5.000000,Baha'i,Alcohol only,n,People
7,0.000102,Baha'i,Alcohol only,%,People
8,16.000000,Baha'i,Total,n,People
9,0.000131,Baha'i,Total,%,People
10,243.000000,Buddhist,Opiate,n,People
11,0.006045,Buddhist,Opiate,%,People
12,50.000000,Buddhist,Non-opiate only,n,People
13,0.003232,Buddhist,Non-opiate only,%,People
14,78.000000,Buddhist,Non-opiate and Alcohol,n,People
15,0.004430,Buddhist,Non-opiate and Alcohol,%,People
16,169.000000,Buddhist,Alcohol only,n,People
17,0.003432,Buddhist,Alcohol only,%,People
18,540.000000,Buddhist,Total,n,People
19,0.004408,Buddhist,Total,%,People
20,9522.000000,Christian,Opiate,n,People
21,0.236889,Christian,Opiate,%,People
22,3126.000000,Christian,Non-opiate only,n,People
23,0.202042,Christian,Non-opiate only,%,People
24,3958.000000,Christian,Non-opiate and Alcohol,n,People
25,0.224771,Christian,Non-opiate and Alcohol,%,People
26,14943.000000,Christian,Alcohol only,n,People
27,0.303491,Christian,Alcohol only,%,People
28,31549.000000,Christian,Total,n,People
29,0.257513,Christian,Total,%,People
...,...,...,...,...,...
130,3941.000000,Unknown,Opiate,n,People
131,0.098045,Unknown,Opiate,%,People
132,1326.000000,Unknown,Non-opiate only,n,People
133,0.085703,Unknown,Non-opiate only,%,People
134,1420.000000,Unknown,Non-opiate and Alcohol,n,People
135,0.080641,Unknown,Non-opiate and Alcohol,%,People
136,4430.000000,Unknown,Alcohol only,n,People
137,0.089973,Unknown,Alcohol only,%,People
138,11117.000000,Unknown,Total,n,People
139,0.090741,Unknown,Total,%,People
140,40196.000000,Total,Opiate,n,People
141,1.000000,Total,Opiate,%,People
142,15472.000000,Total,Non-opiate only,n,People
143,1.000000,Total,Non-opiate only,%,People
144,17609.000000,Total,Non-opiate and Alcohol,n,People
145,1.000000,Total,Non-opiate and Alcohol,%,People
146,49237.000000,Total,Alcohol only,n,People
147,1.000000,Total,Alcohol only,%,People
148,122514.000000,Total,Total,n,People
149,1.000000,Total,Total,%,People
150,982.000000,Inconsistent/missing,Opiate,n,People
151,1244.000000,Inconsistent/missing,Non-opiate only,n,People
152,1148.000000,Inconsistent/missing,Non-opiate and Alcohol,n,People
153,1419.000000,Inconsistent/missing,Alcohol only,n,People
154,4793.000000,Inconsistent/missing,Total,n,People
155,41178.000000,None,Opiate,n,People
156,16716.000000,None,Non-opiate only,n,People
157,18757.000000,None,Non-opiate and Alcohol,n,People
158,50656.000000,None,Alcohol only,n,People
159,127307.000000,None,Total,n,People

In [10]:
new_table = new_table[new_table['OBS'] != 0 ]

In [11]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [12]:
new_table['Measure Type'] = new_table['Measure Type'].map(
    lambda x: {
        'n' : 'Count', 
        '%' : 'Percentage',
        }.get(x, x))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
new_table.head()

      Value Religion                 Clients Measure Type    Unit
0  8.000000   Baha'i                  Opiate        Count  People
1  0.000199   Baha'i                  Opiate   Percentage  People
2  2.000000   Baha'i         Non-opiate only        Count  People
3  0.000129   Baha'i         Non-opiate only   Percentage  People
4  1.000000   Baha'i  Non-opiate and Alcohol        Count  People

In [14]:
new_table.dtypes

Value           float64
Religion         object
Clients          object
Measure Type     object
Unit             object
dtype: object

In [15]:
new_table['Value'] = new_table['Value'].astype(str)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
new_table.head(3)

                  Value Religion          Clients Measure Type    Unit
0                   8.0   Baha'i           Opiate        Count  People
1  0.000199024778584934   Baha'i           Opiate   Percentage  People
2                   2.0   Baha'i  Non-opiate only        Count  People

In [17]:
new_table['Religion'] = new_table['Religion'].map(
    lambda x: {
        'Total' : 'All' 
        }.get(x, x))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
new_table['Religion'].unique()

array(["Baha'i", 'Buddhist', 'Christian', 'Hindu', 'Jain', 'Jewish',
       'Muslim', 'Pagan', 'Sikh', 'Zoroastrian', 'Other', 'None',
       'Decline', 'Unknown', 'All', 'Inconsistent/missing', None],
      dtype=object)

In [19]:
def user_perc(x):
    
    if x == None :
        return 'All inclusice Inconsistent/missing'
    else:
        return x
    
new_table['Religion'] = new_table.apply(lambda row: user_perc(row['Religion']), axis = 1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
new_table['Clients'] = new_table['Clients'].map(
    lambda x: {
        'Total' : 'All Clients',
        }.get(x, x))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
new_table.head(3)

                  Value Religion          Clients Measure Type    Unit
0                   8.0   Baha'i           Opiate        Count  People
1  0.000199024778584934   Baha'i           Opiate   Percentage  People
2                   2.0   Baha'i  Non-opiate only        Count  People

In [22]:
new_table = new_table[['Religion','Clients','Measure Type','Value','Unit']]

In [23]:
if is_interactive():
    SubstancetinationFolder = Path('out')
    SubstancetinationFolder.mkdir(exist_ok=True, parents=True)
    new_table.to_csv(SubstancetinationFolder / ('table4.6.1.csv'), index = False)