Table 4.12.3: Clients' children receiving early help or in contact with children's social care

In [1]:
from gssutils import *

if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    inputFile = sourceFolder / 'AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)

In [2]:
tab = loadxlstabs(inputFile, sheetids='Table 4.12.3')[0]

Loading in\AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx which has size 272149 bytes
Table names: ['Table 4.12.3']

https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx

In [3]:
observations = tab.excel_ref('B5').expand(DOWN).expand(RIGHT).is_not_blank()
observations

{<C6 0.0209903121636168>, <F8 368.0>, <K5 0.0307299956590942>, <C5 0.0160925726587729>, <J5 1699.0>, <F7 780.0>, <C9 0.836060279870829>, <I6 0.0351145768549969>, <I9 0.831603119169497>, <G7 0.094775212636695>, <E5 0.0452805280528053>, <G10 1.0>, <B11 3005.0>, <I10 1.0>, <F6 311.0>, <D5 343.0>, <D11 1053.0>, <F12 9359.0>, <F5 278.0>, <B12 21585.0>, <K6 0.0333707133555202>, <H5 779.0>, <J10 55288.0>, <H10 20903.0>, <E6 0.0541254125412541>, <K8 0.0486181449862538>, <B7 1070.0>, <E9 0.691353135313531>, <K9 0.807535088988569>, <E7 0.148514851485149>, <J12 64445.0>, <E10 1.0>, <I7 0.0686025929292446>, <D12 8628.0>, <J8 2688.0>, <J7 4409.0>, <D7 1125.0>, <I5 0.0372673778883414>, <J11 9157.0>, <D6 410.0>, <C10 1.0>, <J9 44647.0>, <I8 0.0274123331579199>, <F9 6493.0>, <H12 24873.0>, <G6 0.0377885783718104>, <E8 0.0607260726072607>, <K7 0.0797460570105629>, <G5 0.033778857837181>, <C8 0.0692680301399354>, <H6 734.0>, <H11 3970.0>, <G9 0.788942891859052>, <G8 0.0447144592952612>, <D9 5237.0>, <H8 573.0>, <B10 18580.0>, <D8 460.0>, <J6 1845.0>, <B9 15534.0>, <F10 8230.0>, <B5 299.0>, <F11 1129.0>, <K10 1.0>, <B8 1287.0>, <B6 390.0>, <H7 1434.0>, <D10 7575.0>, <C7 0.0575888051668461>, <H9 17383.0>}

In [4]:
ReferralSource1 = tab.excel_ref('A5').expand(DOWN).is_not_blank() - tab.excel_ref('A12')
ReferralSource1

{<A11 'Missing'>, <A6 'Child in need'>, <A8 'Looked after child'>, <A15 '*Percentages may equal 0% or not sum to 100% due to rounding'>, <A10 'Total'>, <A5 'Early help'>, <A7 'Child protection plan'>, <A9 'No early help'>}

In [5]:
Clients = tab.excel_ref('B3').expand(RIGHT).is_not_blank()
Clients

{<D3 'Non-opiates only'>, <B3 'Opiates'>, <F3 'Alcohol & non-opiates'>, <J3 'Total'>, <H3 'Alcohol only'>}

In [6]:
MeasureType = tab.excel_ref('B4').expand(RIGHT).is_not_blank()
MeasureType

{<C4 '%'>, <I4 '%'>, <J4 'n'>, <K4 '%'>, <B4 'n'>, <E4 '%'>, <F4 'n'>, <D4 'n'>, <G4 '%'>, <H4 'n'>}

In [7]:
Dimensions = [
            HDim(ReferralSource1,"Children's social care",DIRECTLY,LEFT),
            HDim(Clients,'Clients in treatment',CLOSEST,LEFT),
            HDim(MeasureType,'Measure Type',DIRECTLY,ABOVE),
            HDimConst('Unit','People')            
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# if is_interactive():
#     savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table

,OBS,Children's social care,Clients in treatment,Measure Type,Unit
0,299.000000,Early help,Opiates,n,People
1,0.016093,Early help,Opiates,%,People
2,343.000000,Early help,Non-opiates only,n,People
3,0.045281,Early help,Non-opiates only,%,People
4,278.000000,Early help,Alcohol & non-opiates,n,People
5,0.033779,Early help,Alcohol & non-opiates,%,People
6,779.000000,Early help,Alcohol only,n,People
7,0.037267,Early help,Alcohol only,%,People
8,1699.000000,Early help,Total,n,People
9,0.030730,Early help,Total,%,People
10,390.000000,Child in need,Opiates,n,People
11,0.020990,Child in need,Opiates,%,People
12,410.000000,Child in need,Non-opiates only,n,People
13,0.054125,Child in need,Non-opiates only,%,People
14,311.000000,Child in need,Alcohol & non-opiates,n,People
15,0.037789,Child in need,Alcohol & non-opiates,%,People
16,734.000000,Child in need,Alcohol only,n,People
17,0.035115,Child in need,Alcohol only,%,People
18,1845.000000,Child in need,Total,n,People
19,0.033371,Child in need,Total,%,People
20,1070.000000,Child protection plan,Opiates,n,People
21,0.057589,Child protection plan,Opiates,%,People
22,1125.000000,Child protection plan,Non-opiates only,n,People
23,0.148515,Child protection plan,Non-opiates only,%,People
24,780.000000,Child protection plan,Alcohol & non-opiates,n,People
25,0.094775,Child protection plan,Alcohol & non-opiates,%,People
26,1434.000000,Child protection plan,Alcohol only,n,People
27,0.068603,Child protection plan,Alcohol only,%,People
28,4409.000000,Child protection plan,Total,n,People
29,0.079746,Child protection plan,Total,%,People
...,...,...,...,...,...
40,15534.000000,No early help,Opiates,n,People
41,0.836060,No early help,Opiates,%,People
42,5237.000000,No early help,Non-opiates only,n,People
43,0.691353,No early help,Non-opiates only,%,People
44,6493.000000,No early help,Alcohol & non-opiates,n,People
45,0.788943,No early help,Alcohol & non-opiates,%,People
46,17383.000000,No early help,Alcohol only,n,People
47,0.831603,No early help,Alcohol only,%,People
48,44647.000000,No early help,Total,n,People
49,0.807535,No early help,Total,%,People
50,18580.000000,Total,Opiates,n,People
51,1.000000,Total,Opiates,%,People
52,7575.000000,Total,Non-opiates only,n,People
53,1.000000,Total,Non-opiates only,%,People
54,8230.000000,Total,Alcohol & non-opiates,n,People
55,1.000000,Total,Alcohol & non-opiates,%,People
56,20903.000000,Total,Alcohol only,n,People
57,1.000000,Total,Alcohol only,%,People
58,55288.000000,Total,Total,n,People
59,1.000000,Total,Total,%,People
60,3005.000000,Missing,Opiates,n,People
61,1053.000000,Missing,Non-opiates only,n,People
62,1129.000000,Missing,Alcohol & non-opiates,n,People
63,3970.000000,Missing,Alcohol only,n,People
64,9157.000000,Missing,Total,n,People
65,21585.000000,None,Opiates,n,People
66,8628.000000,None,Non-opiates only,n,People
67,9359.000000,None,Alcohol & non-opiates,n,People
68,24873.000000,None,Alcohol only,n,People
69,64445.000000,None,Total,n,People

In [10]:
new_table = new_table[new_table['OBS'] != 0 ]

In [11]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [12]:
new_table.head()

,Value,Children's social care,Clients in treatment,Measure Type,Unit
0,299.000000,Early help,Opiates,n,People
1,0.016093,Early help,Opiates,%,People
2,343.000000,Early help,Non-opiates only,n,People
3,0.045281,Early help,Non-opiates only,%,People
4,278.000000,Early help,Alcohol & non-opiates,n,People

In [13]:
new_table['Measure Type'] = new_table['Measure Type'].map(
    lambda x: {
        'n' : 'Count', 
        '%' : 'Percentage',
        }.get(x, x))

In [14]:
new_table.tail()

      Value Children's social care   Clients in treatment Measure Type    Unit
65  21585.0                   None                Opiates        Count  People
66   8628.0                   None       Non-opiates only        Count  People
67   9359.0                   None  Alcohol & non-opiates        Count  People
68  24873.0                   None           Alcohol only        Count  People
69  64445.0                   None                  Total        Count  People

In [15]:
new_table.dtypes

Value                     float64
Children's social care     object
Clients in treatment       object
Measure Type               object
Unit                       object
dtype: object

In [16]:
new_table['Value'] = new_table['Value'].astype(str)

In [17]:
new_table.head(3)

,Value,Children's social care,Clients in treatment,Measure Type,Unit
0,299.0,Early help,Opiates,Count,People
1,0.0160925726587729,Early help,Opiates,Percentage,People
2,343.0,Early help,Non-opiates only,Count,People

In [18]:
new_table["Children's social care"] = new_table["Children's social care"].map(
    lambda x: {
        'Total' : 'All types of care' 
        }.get(x, x))

In [19]:
def user_perc(x):
    
    if x == None:
        return 'All inclusice missing'
    else:
        return x
    
new_table["Children's social care"] = new_table.apply(lambda row: user_perc(row["Children's social care"]), axis = 1)

In [20]:
new_table['Clients in treatment'] = new_table['Clients in treatment'].map(
    lambda x: {
        'Total' : 'All Clients',
        }.get(x, x))

In [21]:
new_table.head(3)

,Value,Children's social care,Clients in treatment,Measure Type,Unit
0,299.0,Early help,Opiates,Count,People
1,0.0160925726587729,Early help,Opiates,Percentage,People
2,343.0,Early help,Non-opiates only,Count,People

In [22]:
new_table = new_table[["Children's social care",'Clients in treatment','Measure Type','Value','Unit']]

In [23]:
if is_interactive():
    SubstancetinationFolder = Path('out')
    SubstancetinationFolder.mkdir(exist_ok=True, parents=True)
    new_table.to_csv(SubstancetinationFolder / ('table4.12.3.csv'), index = False)