Table 4.9.2: Age and presenting substance of new presentations to treatment

In [1]:
from gssutils import *

if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    inputFile = sourceFolder / 'AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)

In [2]:
tab = loadxlstabs(inputFile, sheetids='Table 4.9.2')[0]

Loading in\AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx which has size 272149 bytes
Table names: ['Table 4.9.2']

https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/752515/AdultSubstanceMisuseNDTMSDataTables2017-18.xlsx

In [3]:
observations = tab.excel_ref('C6').expand(DOWN).expand(RIGHT).is_not_blank()
observations

{<C12 0.0344112769485904>, <Y12 3685.0>, <Y13 4057.0>, <W16 2857.0>, <Z12 0.0289457767444053>, <R14 0.00720992622401073>, <E16 0.449115580324691>, <C14 0.0107794361525705>, <C13 0.0427031509121061>, <F6 2094.0>, <G12 0.0354562031471601>, <V8 0.00760249796361662>, <Z17 1.0>, <R8 0.02280348759222>, <Z6 0.147415303164791>, <T8 0.0199617172545803>, <M11 1708.0>, <K16 0.510018467220683>, <O6 2453.0>, <J10 3725.0>, <V6 0.0581048058647841>, <M17 18094.0>, <F10 4544.0>, <E7 0.090380421613763>, <G17 1.0>, <N17 1.0>, <T13 0.0125786163522013>, <W6 140.0>, <G7 0.16471938947795>, <K14 0.0102031394275162>, <P11 0.067613460944736>, <J11 3010.0>, <E14 0.0144172522413375>, <P12 0.0245137388082742>, <S12 105.0>, <D14 119.0>, <H16 9874.0>, <X7 0.013724864347271>, <F8 759.0>, <N11 0.0943959323532663>, <J17 21660.0>, <X14 0.016597510373444>, <M10 2568.0>, <G16 0.491119065306949>, <O8 418.0>, <U12 30.0>, <Y8 4301.0>, <D12 241.0>, <J6 4297.0>, <U7 133.0>, <W8 6.0>, <M16 10695.0>, <F12 525.0>, <U17 3683.0>, <V10 0.0486016834102634>, <S14 41.0>, <X12 0.00319182891797>, <E10 0.498788466198207>, <Y6 18767.0>, <D6 791.0>, <S6 585.0>, <T14 0.00560568772217665>, <U13 52.0>, <Y16 76397.0>, <P16 0.686199444272924>, <X17 1.0>, <F14 229.0>, <M6 3311.0>, <R7 0.116448692152918>, <O16 11113.0>, <M12 540.0>, <U14 32.0>, <I11 0.206486104806577>, <H8 872.0>, <R6 0.117035546613011>, <F13 563.0>, <U6 214.0>, <J16 11047.0>, <X11 0.004149377593361>, <Y7 22411.0>, <F16 7272.0>, <O11 1095.0>, <Z10 0.197703189926713>, <P13 0.0261809200370485>, <Y17 127307.0>, <Q14 86.0>, <N16 0.591079915994252>, <H14 313.0>, <I14 0.0157865536894134>, <T16 0.856302980585179>, <O12 397.0>, <M13 599.0>, <O7 2816.0>, <D7 746.0>, <J12 733.0>, <O14 143.0>, <E17 1.0>, <G13 0.0380225568987641>, <H12 777.0>, <V14 0.00868856910127613>, <J14 221.0>, <R17 1.0>, <D8 354.0>, <H17 19827.0>, <P6 0.151466502006792>, <N8 0.0323311595003869>, <Q11 542.0>, <D11 2503.0>, <S11 176.0>, <M7 4118.0>, <I7 0.228425883895698>, <C8 0.0261194029850746>, <I6 0.170978968073839>, <Q6 1396.0>, <I8 0.043980430725778>, <X6 0.04468560485158>, <R11 0.045439302481556>, <R16 0.769450033534541>, <E6 0.0958323237218318>, <R13 0.0199530516431925>, <U16 3305.0>, <D17 8254.0>, <S8 146.0>, <I12 0.0391889847178091>, <G6 0.141419598838387>, <T6 0.0799835931091058>, <Z8 0.0337844737524252>, <W17 3133.0>, <E12 0.029197964623213>, <T17 1.0>, <G10 0.306881880191801>, <D10 4117.0>, <G14 0.015465658134666>, <K12 0.0338411819021237>, <N14 0.0111639217420139>, <H11 4094.0>, <U8 28.0>, <Q12 244.0>, <F17 14807.0>, <W14 52.0>, <K8 0.0368421052631579>, <G11 0.268251502667657>, <M14 202.0>, <T7 0.0611156685808039>, <H6 3390.0>, <C10 0.694029850746269>, <W7 43.0>, <I16 0.49800776718616>, <V12 0.00814553353244638>, <V17 1.0>, <X10 0.018831790616023>, <Q17 11928.0>, <Q16 9178.0>, <D16 3707.0>, <M8 585.0>, <K10 0.171975992613112>, <P14 0.0088298857672121>, <Q13 238.0>, <Q10 1289.0>, <X16 0.911905521864028>, <I10 0.218540374237151>, <J8 798.0>, <O17 16195.0>, <K11 0.138965835641736>, <F11 3972.0>, <N12 0.0298441472311263>, <P7 0.173880827415869>, <P17 1.0>, <X8 0.001915097350782>, <Y11 17796.0>, <V13 0.0141189247895737>, <N10 0.141925500165801>, <E11 0.303246910588805>, <O13 424.0>, <S13 92.0>, <T10 0.0832649712879409>, <I13 0.0356584455540425>, <R12 0.0204560697518444>, <W12 10.0>, <Z7 0.176039023777169>, <D13 367.0>, <T12 0.0143560295324036>, <S10 609.0>, <P8 0.0258104353195431>, <R10 0.108065057008719>, <Q7 1389.0>, <V11 0.0149334781428184>, <Q8 272.0>, <C7 0.0356550580431177>, <V7 0.0361118653271789>, <K13 0.0384118190212373>, <S7 447.0>, <I17 1.0>, <C6 0.0398009950248756>, <V16 0.897366277491176>, <N7 0.227589256106997>, <W10 59.0>, <G8 0.0512595394070372>, <U10 179.0>, <K6 0.198384118190212>, <C17 1.0>, <C16 0.450248756218905>, <F7 2439.0>, <H10 4333.0>, <K7 0.261542012927054>, <Y10 25169.0>, <Z13 0.0318678470154823>, <E13 0.0444632905258057>, <W11 13.0>, <N13 0.0331048966508235>, <S17 7314.0>, <W13 80.0>, <Y14 1464.0>, <H13 707.0>, <C11 0.260364842454395>, <U11 55.0>, <Z16 0.600100544353413>, <K17 1.0>, <J7 5665.0>, <T11 0.0240634399781241>, <S16 6263.0>, <X13 0.02553463134376>, <Z14 0.0114997604216579>, <E8 0.0428882965834747>, <Z11 0.139788071355071>, <P10 0.127940722445199>, <O10 2072.0>, <H7 4529.0>, <J13 832.0>, <N6 0.182988836078258>}

In [4]:
Substance = tab.excel_ref('A5').expand(DOWN).is_not_blank() - tab.excel_ref('A19').expand(DOWN)
Substance

{<A12 'Amphetamine (other than ecstasy)'>, <A5 'Opiate and/or crack cocaine use'>, <A9 'Other drug use'>, <A6 'Opiate (not crack cocaine)'>, <A8 'Crack cocaine (not opiate)'>, <A7 'Both opiate and crack cocaine'>, <A14 'Other'>, <A17 'Total number of individuals*'>, <A10 'Cannabis'>, <A13 'Benzodiazepine'>, <A16 'Alcohol'>, <A11 'Cocaine'>, <A15 'Alcohol'>}

In [5]:
Clients = tab.excel_ref('B3').expand(RIGHT).is_not_blank()
Clients

{<F3 '25-29'>, <U3 '60-64'>, <J3 '35-39'>, <Y3 'Total'>, <H3 '30-34'>, <M3 '40-44'>, <O3 '45-49'>, <B3 '18-19'>, <D3 '20-24'>, <Q3 '50-54'>, <W3 '65+'>, <S3 '55-59'>}

In [6]:
MeasureType = tab.excel_ref('B4').expand(RIGHT).is_not_blank()
MeasureType

{<M4 'n'>, <B4 'n'>, <U4 'n'>, <Z4 '%'>, <T4 '%'>, <Q4 'n'>, <P4 '%'>, <H4 'n'>, <E4 '%'>, <X4 '%'>, <J4 'n'>, <O4 'n'>, <D4 'n'>, <W4 'n'>, <I4 '%'>, <Y4 'n'>, <C4 '%'>, <S4 'n'>, <G4 '%'>, <R4 '%'>, <N4 '%'>, <F4 'n'>, <K4 '%'>, <V4 '%'>}

In [7]:
Dimensions = [
            HDim(Substance,'Substance',DIRECTLY,LEFT),
            HDim(Clients,'Age of clients in new treatment',CLOSEST,LEFT),
            HDim(MeasureType,'Measure Type',DIRECTLY,ABOVE),
            HDimConst('Unit','People')            
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# if is_interactive():
#     savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table

,OBS,Substance,Age of clients in new treatment,Measure Type,Unit
0,0.039801,Opiate (not crack cocaine),18-19,%,People
1,791.000000,Opiate (not crack cocaine),20-24,n,People
2,0.095832,Opiate (not crack cocaine),20-24,%,People
3,2094.000000,Opiate (not crack cocaine),25-29,n,People
4,0.141420,Opiate (not crack cocaine),25-29,%,People
5,3390.000000,Opiate (not crack cocaine),30-34,n,People
6,0.170979,Opiate (not crack cocaine),30-34,%,People
7,4297.000000,Opiate (not crack cocaine),35-39,n,People
8,0.198384,Opiate (not crack cocaine),35-39,%,People
9,3311.000000,Opiate (not crack cocaine),40-44,n,People
10,0.182989,Opiate (not crack cocaine),40-44,%,People
11,2453.000000,Opiate (not crack cocaine),45-49,n,People
12,0.151467,Opiate (not crack cocaine),45-49,%,People
13,1396.000000,Opiate (not crack cocaine),50-54,n,People
14,0.117036,Opiate (not crack cocaine),50-54,%,People
15,585.000000,Opiate (not crack cocaine),55-59,n,People
16,0.079984,Opiate (not crack cocaine),55-59,%,People
17,214.000000,Opiate (not crack cocaine),60-64,n,People
18,0.058105,Opiate (not crack cocaine),60-64,%,People
19,140.000000,Opiate (not crack cocaine),65+,n,People
20,0.044686,Opiate (not crack cocaine),65+,%,People
21,18767.000000,Opiate (not crack cocaine),Total,n,People
22,0.147415,Opiate (not crack cocaine),Total,%,People
23,0.035655,Both opiate and crack cocaine,18-19,%,People
24,746.000000,Both opiate and crack cocaine,20-24,n,People
25,0.090380,Both opiate and crack cocaine,20-24,%,People
26,2439.000000,Both opiate and crack cocaine,25-29,n,People
27,0.164719,Both opiate and crack cocaine,25-29,%,People
28,4529.000000,Both opiate and crack cocaine,30-34,n,People
29,0.228426,Both opiate and crack cocaine,30-34,%,People
...,...,...,...,...,...
200,0.856303,Alcohol,55-59,%,People
201,3305.000000,Alcohol,60-64,n,People
202,0.897366,Alcohol,60-64,%,People
203,2857.000000,Alcohol,65+,n,People
204,0.911906,Alcohol,65+,%,People
205,76397.000000,Alcohol,Total,n,People
206,0.600101,Alcohol,Total,%,People
207,1.000000,Total number of individuals*,18-19,%,People
208,8254.000000,Total number of individuals*,20-24,n,People
209,1.000000,Total number of individuals*,20-24,%,People
210,14807.000000,Total number of individuals*,25-29,n,People
211,1.000000,Total number of individuals*,25-29,%,People
212,19827.000000,Total number of individuals*,30-34,n,People
213,1.000000,Total number of individuals*,30-34,%,People
214,21660.000000,Total number of individuals*,35-39,n,People
215,1.000000,Total number of individuals*,35-39,%,People
216,18094.000000,Total number of individuals*,40-44,n,People
217,1.000000,Total number of individuals*,40-44,%,People
218,16195.000000,Total number of individuals*,45-49,n,People
219,1.000000,Total number of individuals*,45-49,%,People
220,11928.000000,Total number of individuals*,50-54,n,People
221,1.000000,Total number of individuals*,50-54,%,People
222,7314.000000,Total number of individuals*,55-59,n,People
223,1.000000,Total number of individuals*,55-59,%,People
224,3683.000000,Total number of individuals*,60-64,n,People
225,1.000000,Total number of individuals*,60-64,%,People
226,3133.000000,Total number of individuals*,65+,n,People
227,1.000000,Total number of individuals*,65+,%,People
228,127307.000000,Total number of individuals*,Total,n,People
229,1.000000,Total number of individuals*,Total,%,People

In [10]:
new_table = new_table[new_table['OBS'] != 0 ]

In [11]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [12]:
new_table.head()

,Value,Substance,Age of clients in new treatment,Measure Type,Unit
0,0.039801,Opiate (not crack cocaine),18-19,%,People
1,791.000000,Opiate (not crack cocaine),20-24,n,People
2,0.095832,Opiate (not crack cocaine),20-24,%,People
3,2094.000000,Opiate (not crack cocaine),25-29,n,People
4,0.141420,Opiate (not crack cocaine),25-29,%,People

In [13]:
new_table['Measure Type'] = new_table['Measure Type'].map(
    lambda x: {
        'n' : 'Count', 
        '%' : 'Percentage',
        }.get(x, x))

In [14]:
new_table.tail()

,Value,Substance,Age of clients in new treatment,Measure Type,Unit
225,1.0,Total number of individuals*,60-64,Percentage,People
226,3133.0,Total number of individuals*,65+,Count,People
227,1.0,Total number of individuals*,65+,Percentage,People
228,127307.0,Total number of individuals*,Total,Count,People
229,1.0,Total number of individuals*,Total,Percentage,People

In [15]:
new_table.dtypes

Value                              float64
Substance                           object
Age of clients in new treatment     object
Measure Type                        object
Unit                                object
dtype: object

In [16]:
new_table['Value'] = new_table['Value'].astype(str)

In [17]:
new_table.head(3)

,Value,Substance,Age of clients in new treatment,Measure Type,Unit
0,0.0398009950248756,Opiate (not crack cocaine),18-19,Percentage,People
1,791.0,Opiate (not crack cocaine),20-24,Count,People
2,0.0958323237218318,Opiate (not crack cocaine),20-24,Percentage,People

In [18]:
new_table['Age of clients in new treatment'] = new_table['Age of clients in new treatment'].map(
    lambda x: {
        'Total' : 'All years' 
        }.get(x, x))

In [19]:
new_table['Substance'] = new_table['Substance'].str.rstrip('*')

In [20]:
new_table.head(3)

,Value,Substance,Age of clients in new treatment,Measure Type,Unit
0,0.0398009950248756,Opiate (not crack cocaine),18-19,Percentage,People
1,791.0,Opiate (not crack cocaine),20-24,Count,People
2,0.0958323237218318,Opiate (not crack cocaine),20-24,Percentage,People

In [21]:
new_table = new_table[['Substance','Age of clients in new treatment','Measure Type','Value','Unit']]

In [22]:
if is_interactive():
    SubstancetinationFolder = Path('out')
    SubstancetinationFolder.mkdir(exist_ok=True, parents=True)
    new_table.to_csv(SubstancetinationFolder / ('table4.9.2.csv'), index = False)